absl-py==2.3.1
accelerate==1.6.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
alembic==1.15.2
annotated-types==0.7.0
annoy==1.17.3
anyio==4.9.0
app==0.0.1
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
async-timeout==5.0.1
asyncer==0.0.8
attrs==25.3.0
backoff==2.2.1
beautifulsoup4==4.13.4
bleach==6.2.0
bokeh==3.6.3
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
cmake==4.1.3
colorcet==3.1.0
colorlog==6.9.0
contourpy==1.3.2
cubinlinker-cu11==0.3.0.post3
cucim-cu11==25.6.0
cycler==0.12.1
dask==2025.5.0
datasets==3.5.0
datashader==0.18.1
defusedxml==0.7.1
dill==0.3.8
diskcache==5.6.3
distributed==2025.5.0
docker-pycreds==0.4.0
dspy==2.6.17
exceptiongroup==1.2.2
fastapi==0.115.12
fastjsonschema==2.21.1
fastrlock==0.8.3
filelock==3.18.0
fonttools==4.57.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.12.0
geopandas==1.1.1
gitdb==4.0.12
GitPython==3.1.44
h11==0.14.0
hdbscan==0.8.40
hilbertcurve==2.0.5
holoviews==1.21.0
httpcore==1.0.8
httpx==0.28.1
idna==3.10
imageio==2.37.0
immutabledict==4.2.2
importlib_metadata==8.7.0
isoduration==20.11.0
Jinja2==3.1.6
joblib==1.4.2
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_proxy==4.4.0
jupyter_server_terminals==0.5.3
jupyterlab_pygments==0.3.0
k-means-constrained==0.8.0
kiwisolver==1.4.8
lazy_loader==0.4
libkvikio-cu11==25.6.0
linkify-it-py==2.0.3
litellm==1.63.7
llvmlite==0.44.0
locket==1.0.0
magicattr==0.1.6
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==3.1.3
mpmath==1.3.0
msgpack==1.1.1
multidict==6.4.3
multipledispatch==1.0.0
multiprocess==0.70.16
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
networkx==3.4.2
nltk==3.9.1
numba==0.61.2
numpy==2.2.4
opencv-python==4.11.0.86
optuna==4.2.1
ortools==9.15.6755
overrides==7.7.0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
panel==1.7.4
param==2.2.1
partd==1.4.2
peft==0.15.2
pillow==11.1.0
platformdirs==4.3.7
prometheus_client==0.22.1
propcache==0.3.1
protobuf==6.33.4
psutil==7.0.0
ptxcompiler-cu11==0.8.1.post3
ptyprocess==0.7.0
pyarrow==19.0.1
pycparser==2.22
pyct==0.5.0
pydantic==2.11.1
pydantic_core==2.33.0
Pygments==2.19.1
pynvml==12.0.0
pyogrio==0.11.0
pyparsing==3.2.3
pyproj==3.7.1
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
pytz==2025.2
pyviz_comms==3.0.6
PyYAML==6.0.2
pyzmq==27.0.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rpds-py==0.24.0
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.2
seaborn==0.13.2
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.25.0
setproctitle==1.3.5
shapely==2.0.7
simpervisor==1.0.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
SQLAlchemy==2.0.40
sqlmodel==0.0.24
starlette==0.46.2
sympy==1.13.1
tblib==3.1.0
terminado==0.18.1
threadpoolctl==3.6.0
tifffile==2025.5.10
tinycss2==1.4.0
toolz==1.0.0
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.3
treelite==4.4.1
triton==3.2.0
types-python-dateutil==2.9.0.20250708
typing-inspection==0.4.0
typing_extensions==4.13.0
tzdata==2025.2
uc-micro-py==1.0.3
ujson==5.10.0
uri-template==1.3.0
urllib3==2.3.0
# wandb==0.19.8
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
xarray==2025.6.1
xxhash==3.5.0
xyzservices==2025.4.0
yarl==1.19.0
zict==3.0.0
zipp==3.21.0
